# Виртуальное окружение Python
venv/
env/
.venv/
ENV/

# Другие возможные имена
venv*/
*.venv

# Папки с зависимостями
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?